ul, li{
    padding:0;
    margin:0;
    list-style-type: none;
}

.Logo{
    text-align: center;
    font-size:4em;
    line-height: 100px;
}

.Logo:hover{
    animation: rotate_image 0.3s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
.Logo a {
    text-decoration: none;
    color:black;
}

.Menu{
    height:50px;
    background-color: navy;
}

.Menu>ul{
    overflow: auto;
}

.Menu li{
    float:left;
    line-height: 50px;
    width:20%;
    text-align: center;
    font-size:1.5em;
    background-color: navy;
    color:aliceblue;
}
.Menu li:hover {
    scale: 110;
    transition:all 5s;
}