ul, li{
    padding:0;
    margin:0;
    list-style-type: none;
}

.Logo{
    text-align: center;
    font-size:4em;
    line-height: 100px;
}

.Logo a {
    text-decoration: none;
    color:black;
}

.Menu{
    height:50px;
    background-color: navy;
}

.Menu>ul{
    overflow: auto;
}

.Menu li{
    float:left;
    line-height: 50px;
    width:20%;
    text-align: center;
    font-size:1.5em;
    background-color: navy;
    color:aliceblue;
}